* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #008080; 
  width: 60%;
  margin-top: 3%;
}
.Flexbox {
  display: flex;
  flex-wrap: wrap;       
  justify-content: space-between; 
  height: 600px; 
  align-content: space-evenly;   
}
.card {
  background-color: white;
  color: black;
  padding: 20px;
  width: 31%;             
  border: 1px solid #333;
 height: max-content;

}
.card h3 {
  margin-bottom: 5px;
}
.card p {
  color: #111;
}
.card6{
    order: -1;
    align-self: flex-start;
}
.card1{
  align-self: center;
}